<div [formGroup]="forma">
<div formArrayName="banco">
<div id="content" class="content" data-spy="scroll" data-target="#navbar">
  <div *ngFor="let address of forma.controls.banco.controls; let i = index"
  [id]="i"  class="main-container banco alert" [ngClass]="(i==0)?'alert-info actual':'alert-success'" role="alert" >

    <div class="panel-heading">
    <div class="row">

      <span class="label label-default col-sm-6">Banco  {{i + 1}}</span>

       <div  class="col-sm-6 text-right">
        <span  *ngIf="forma.controls.banco.controls.length > 1" (click)="eliminarBanco(i)">
          <i class="fa fa-times" aria-hidden="true"></i>
        </span>
      </div>
       </div>
      <hr>

    </div>
    <div class="panel-body" [formGroupName]="i">

   <div class="row">
      <div class="form-group col-sm-3">
        <label>Banco</label>
        <select class="form-control" formControlName="banco"
         >
        <option *ngFor="let banco of _descriptivasService.bancos | async"
        [value]="banco.$key" > {{banco.nombre}}</option>
        </select>
      </div>
          <div class="form-group col-sm-3">
        <label>Cuenta</label>
        <input type="text" class="form-control" formControlName="cuenta">
      </div>
   </div>
    </div>
  </div>
</div>



<div class="main-container text-center" >
<button [disabled]="!forma.controls.banco.valid"
type="button"  class="btn btn-success" (click)="agregarBanco()">
<i class="fa fa-plus-circle fa-1x faa-pulse animated-hover" aria-hidden="true"></i> Nuevo Banco</button>
<br>
</div>

</div>  <!--<div formArrayName="banco">-->
</div>
