<!-- Modal -->
  <div class="modal fade"  id="Modal" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">{{operacion}} Empleado <small>{{empleado.codigo}}</small></h4>
        </div>
<form  novalidate="" #fm="ngForm">
         <div class="modal-body">
           <div class="form-group">
             <label  class="form-control-label">Cedula:</label>
             <input type="text" class="form-control"  required
             name="cedula" [(ngModel)]="empleado.cedula"   >
             <app-muestra-alerta [campo]="empleado.cedula"></app-muestra-alerta>
           </div>

          <div class="form-group">
            <label  class="form-control-label">Nombre:</label>
            <input type="text" class="form-control"  required minlength="5"
            name="nombre" [(ngModel)]="empleado.nombre"  >
            <app-muestra-alerta [campo]="empleado.nombre"></app-muestra-alerta>
          </div>
          <div class="form-group">
            <label  class="form-control-label">Apellido:</label>
            <input type="text" class="form-control"  required minlength="5"
            name="apellido" [(ngModel)]="empleado.apellido"  >
            <app-muestra-alerta [campo]="empleado.apellido"></app-muestra-alerta>
          </div>



      </div> <!--end modal-->
      <div class="modal-footer">

      <div class="col-md-6 text-left">


        <div class="btn-group">
          <button type="button" class="btn btn-success"        data-dismiss="modal"
                 (click)="AgregarEditar( )">Mas</button>
          <button type="button" class="btn btn-success dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="sr-only">Toggle Dropdown</span>
          </button>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Gremios</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Cuentas Bancos</a>
          </div>
        </div>




      </div>


      <div class="col-md-6 text-right">
       <button type="button"  class="btn btn-secondary"
       data-dismiss="modal">Cerrar</button>
     <button type="button"  class="btn btn-primary"
      (click)="guardar(fm)"
      [disabled]="!fm.valid"
      data-dismiss="modal">Guardar</button>
      </div>



      </div>
      </form>
      </div>
    </div>
  </div>
