
<div class="container main-container">


<div class="row">
<div class="col-md-2">
  <h4>{{operacion}}  </h4>
  <small><span class="badge badge-success">{{forma.get('$key').value}}</span></small>

</div>
<div class="col-md-10">
<h1> <span class="badge badge-primary">{{forma.get('datos.nombre').value}}</span></h1>
</div>
<hr>

</div>

<div class="row main-container" >
<div class="col-sm-12">
<form (ngSubmit)="guardar()"  [formGroup]="forma" >

  <div formGroupName="datos">
  <div class="md-form form-group">
          <input  type="text" id="codigo" class="form-control" formControlName="codigo">
          <label [ngClass]="{'active':(forma.get('datos.nombre').value?.length >0)}"  for="codigo" data-error="wrong" data-success="right"  >Codigo</label>
          <app-muestra-alerta class="text-danger text-right" [campo]="forma.get('datos.codigo')"></app-muestra-alerta>
  </div>

  <div class="md-form form-group">
          <input  type="text" id="nombre" class="form-control" formControlName="nombre">
          <label [ngClass]="{'active':(forma.get('datos.nombre').value?.length >0)}"  for="nombre" data-error="wrong" data-success="right"  >Nombre</label>
          <app-muestra-alerta class="text-danger text-right" [campo]="forma.get('datos.nombre')"></app-muestra-alerta>
  </div>

  <div class="md-form form-group">
          <input  type="text" id="email" class="form-control" formControlName="email">
          <label [ngClass]="{'active':(forma.get('datos.email').value?.length >0)}"  for="email" data-error="wrong" data-success="right"  >Email</label>
          <app-muestra-alerta class="text-danger text-right" [campo]="forma.get('datos.email')"></app-muestra-alerta>
  </div>

  <div class="md-form form-group">
          <input  type="text" id="telefono" class="form-control" formControlName="telefono">
          <label [ngClass]="{'active':(forma.get('datos.telefono').value?.length >0)}"  for="telefono" data-error="wrong" data-success="right"  >Telefono</label>
          <app-muestra-alerta class="text-danger text-right" [campo]="forma.get('datos.telefono')"></app-muestra-alerta>
  </div>


</div>

<div >



<ul class="nav nav-tabs" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" data-toggle="tab" href="#direccionTab" role="tab">Dirección</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#profile" role="tab">Cuentas Bancarias</a>
  </li>
</ul>

<div class="tab-content"  >
  <div class="tab-pane active" id="direccionTab" role="tabpanel">
<app-detalle-direccion [forma]="forma" [ciudades]="ciudades" [padre]="_clientesService" tipo="cliente"></app-detalle-direccion>
  </div>
  <div class="tab-pane" id="profile" role="tabpanel">
    <app-detalle-banco [forma]="forma"  [padre]="_clientesService" tipo="cliente"></app-detalle-banco>
  </div>
</div>
</div>
<div class="row ">
 <div class="col-md-6 text-left">
      <button type="button"  class="btn btn-success"
       (click)="reset()" >Nuevo</button>
      </div>
      <div class="col-md-6 text-right">
       <button type="button"  class="btn btn-secondary"
       [routerLink]="['/clientes']">Volver</button>
      <button
      [disabled]="clickeado || (!forma.dirty|| !forma.valid)"
      type="submit" class="btn btn-outline-primary">Guardar</button>
      </div>
 </div>


<pre>
      valido {{forma.valid }}
      dirty {{forma.dirty }}
      clickeado {{clickeado}}
      {{!forma.valid && forma.dirty}}
      direccion {{forma.controls.direccion.valid}}
</pre>

 </form>
</div>
 </div>
 </div>
