<!-- Modal -->
  <div class="modal fade"  id="Modal" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">{{operacion}} Banco <small>{{banco.codigo}}</small></h4>
        </div>

<form  novalidate="" #fm="ngForm">
         <div class="modal-body">

          <div class="form-group">
            <label class="form-control-label">Nombre:</label>
            <input type="text" class="form-control"  required minlength="5"
            name="name" [(ngModel)]="banco.nombre" >
            <app-muestra-alerta [campo]="banco.nombre"></app-muestra-alerta>
          </div>


      </div> <!--end modal-->
      <div class="modal-footer">
      <div class="col-md-6 text-right">
       <button type="button"  class="btn btn-secondary"
       data-dismiss="modal">Cerrar</button>
     <button type="button"  class="btn btn-primary"
      (click)="guardar(fm)"
      [disabled]="!fm.valid"
      data-dismiss="modal">Guardar</button>
      </div>



      </div>
      </form>
      </div>
    </div>
  </div>
