<!-- Modal -->
  <div class="modal fade"  id="modalEdicion" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h5 class="modal-title">{{operacion}}
          <small class="badge badge-primary">{{forma.get('datos.'+EditandoA).value}}</small>
        </h5>
        </div>
        <form  [formGroup]="forma" >
            <div class="modal-body">
          <div formGroupName="datos">

            <div class="md-form form-group" *ngFor="let campo of campos" [ngSwitch]="campo">

              <select class="form-control" formControlName={{campo}} *ngSwitchCase="'empresa'">
              <option *ngFor="let empresa of _descriptivasService.empresas | async"
              [value]="empresa.$key" > {{empresa.nombre}}</option>
              </select>

              <div class="selectClass" *ngSwitchCase="'institucion'">
                      <angular2-multiselect
                      [(ngModel)]="ins"
                      [data]="dropdownListInstituciones"
                      formControlName={{campo}}
                      [settings]="dropdownSettingsInstituciones"
                      >
                    </angular2-multiselect>
              </div>

              <div class="selectClass" *ngSwitchCase="'empleado'">
                      <angular2-multiselect
                      [(ngModel)]="emp"
                      [data]="dropdownListEmpleados"
                      formControlName={{campo}}
                      [settings]="dropdownSettingsEmpleados"
                      >
                    </angular2-multiselect>
              </div>
                    <md-form-field class="md-full-width">
                    <input mdInput type="text" id="campo" class="form-control" formControlName={{campo}} [placeholder]="campo" *ngSwitchDefault >
                    <app-muestra-alerta class="text-danger text-right" [campo]="forma.get('datos.'+campo)"></app-muestra-alerta>
                  </md-form-field>
            </div>
        </div>
      </div> <!--end modal-->
      <div class="modal-footer">

      <div class="col-md-6 text-left">
      <button md-raised-button  *ngIf="botonMas()" type="button"  class="btn btn-success"
       data-dismiss="modal"
       (click)="AgregarEditar( )" >Mas</button>
      </div>
      <div class="col-md-6 text-right">
      <button md-raised-button  type="button"  class="btn btn-secondary"
       data-dismiss="modal">Cerrar</button>
     <button md-raised-button  type="button"  class="btn btn-primary"
      (click)="guardar()"
      [disabled]="(!forma.dirty|| !forma.valid)"
      data-dismiss="modal">Guardar</button>
      </div>
      </div>
      </form>
      </div>
    </div>
  </div>
