<app-registro></app-registro>
<app-login></app-login>

<md-toolbar color="primary">
  <span>CrediXA</span>
<button md-button [routerLink]="['/home']"  ><span>Inicio</span></button>

    <button md-button [mdMenuTriggerFor]="archivo">Archivo</button>
    <md-menu #archivo="mdMenu">
      <button md-menu-item [routerLink]="['/autorizaciones']">Autorizaciones</button>
      <button md-menu-item  [routerLink]="['/clientes']">Clientes</button>
      <button md-menu-item  [routerLink]="['/empleados']">Empleados</button>
      <button md-menu-item  [routerLink]="['/institucions']">Instituciones</button>
      <button md-menu-item  [routerLink]="['/empresas']">Empresas</button>
    </md-menu>

    <button md-button [mdMenuTriggerFor]="ajustes">Ajustes</button>
    <md-menu #ajustes="mdMenu">
      <button md-menu-item [routerLink]="['/paises']">Paises</button>
      <button md-menu-item [routerLink]="['/ciudades']">Ciudades</button>
      <button md-menu-item [routerLink]="['/bancos']">Bancos</button>
    </md-menu>

    <div class="button-row">

    <button data-toggle="modal" data-target="#loginModal" md-raised-button color="primary">Iniciar Sesión</button>
    <button data-toggle="modal" data-target="#registroModal" md-raised-button color="primary">Registro</button>

</div>

</md-toolbar>
